In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [10]:
seriesexemple=pd.Series([255.24,55,369,3.898,555])

In [11]:
seriesexemple

0    255.240
1     55.000
2    369.000
3      3.898
4    555.000
dtype: float64

In [12]:
seriesexemple.name='exemple of numbers'

In [13]:
seriesexemple

0    255.240
1     55.000
2    369.000
3      3.898
4    555.000
Name: exemple of numbers, dtype: float64

In [14]:
seriesexemple[0]

255.24

In [15]:
seriesexemple[1:3]

1     55.0
2    369.0
Name: exemple of numbers, dtype: float64

In [16]:
seriesexemple[:]

0    255.240
1     55.000
2    369.000
3      3.898
4    555.000
Name: exemple of numbers, dtype: float64

In [17]:
seriesexemple.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

In [19]:
certificates_earned

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

In [20]:
certificates_earned['Tom']

8

In [21]:
certificates_earned[0]

8

In [25]:
certificates_earned>5

Tom       True
Kris     False
Ahmad    False
Beau      True
dtype: bool

In [26]:

print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64

In [27]:
certificates_earned.mean()

5.25

In [28]:
certificates_earned[certificates_earned > 5]=0

In [29]:
certificates_earned[certificates_earned > 5]

Series([], dtype: int64)

In [30]:
certificates_earned

Tom      0
Kris     2
Ahmad    5
Beau     0
dtype: int64